<section class="card">
<div class="card-body comment-body">
    <a href="/comments/{{id}}"></a>
    <blockquote class="blockquote mb-0">
      <p>{{comment_details}}</p>
      <footer class="blockquote-footer">Create at {{format_date create_at}} By User {{user.username}}</footer>
    </blockquote>
  </div>
  </section>