<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" id="new-comment-btn">add comment</button>
    </div>
</form>
{{#each comment as |comment|}}
{{>comment-details comment}}
{{/each}}
