
 <h4>Your Posts</h4>

 </br>
    {{#each posts as |post|}}
 {{> post-details post}}
    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    {{/each}}
    <footer class="footer flex-row justify-center" id="addpost-btn">
      </br>
      <button href="/dashboard/new" id="add-new-post-btn">Add New Post</button>
      
    </footer>
  </br>
<script src="/js/add-post.js"></script>

<script src="/js/logout.js"></script>