{{!-- 
    <main>
      <div class="blog">{{{body}}}</div>
    </main> --}}
 <h4>Your Posts</h4>

 </br>
    {{#each posts as |post|}}
 {{> post-details post}}
    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    {{/each}}
    <footer class="footer flex-row justify-center" id="addpost-btn">
      <a href="/dashboard/new">Add New Post</a>
    </footer>
  
<script src="/js/add-post.js"></script>

<script src="/js/logout.js"></script>