{{#if post.length}}
<section>
    <h2>Post made by you</h2>
    {{#each posts as |post|}}
 {{> post-info post}}
    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    {{/each}}
</section>
{{/if}}

<button type="submit" class="'btn" id="addpost-btn">
    <a href="/dashboard/new" class="link">Add New Post</a>
</button>

<script src="/js/add-post.js"></script>