<div class="card">
  <h4 class="card-header">Edit Post</h4>
  <form class="card-body edit-post-form" id="edit-post-form">
    <label for="post-title" class="form-lable">Post Title</label>
    <br />
    <input
      type="text"
      id="post-title"
      name="post-title"
      class="form-input"
      value="{{post.title}}"
    />
    <br />
    <label for="content" class="form-label">Post Content</label>
    <br />
    <textarea
      id="post-content"
      name="post-content"
      class="form-input"
      data-number="8"
    >{{post.content}}
    </textarea>
    <br />
    <button type="submit" class="btn" id="edit-post-btn">Update Post</button>
    <br />
    <button type="submit" class="btn" id="delete-post-btn" data-id="{{post.id}}">Delete Post</button>
  </form>

</div>

<script src="/js/edit.js"></script>
