<div class="row">
  <div class="col-auto">
    <h4>{{user.username}}'s Dashboard!</h4>
  </div>
</div>
<br />
{{#if posts.length}}
  <section class="card flex-column">
    {{#each posts as |post|}}
     {{> dashboard-details post}}
    {{/each}}
  </section>
{{/if}}

<script src="/js/add-post.js"></script>